{% extends "base.html" %}

{% block title %}Управление услугами{% endblock %}

{% block content %}
<div class="manage-services-container">
    <h1>Управление услугами</h1>
    <form method="post">
        <label for="service_name">Название услуги:</label>
        <input type="text" name="service_name" id="service_name" required>
        <br>
        <label for="description">Описание:</label>
        <textarea name="description" id="description"></textarea>
        <br>
        <label for="price">Цена:</label>
        <input type="number" name="price" id="price" required>
        <br>
        <label for="duration">Длительность (в часах):</label>
        <input type="number" name="duration" id="duration" required>
        <br>
        <button type="submit">Добавить услугу</button>
    </form>
    <h2>Список услуг</h2>
    <ul>
        {% for service in services %}
            <li>{{ service.service_name }} - {{ service.price }} руб. - {{ service.duration }} ч.</li>
        {% else %}
            <li>Нет доступных услуг.</li>
        {% endfor %}
    </ul>
</div>
{% endblock %}