<!DOCTYPE html>
<html lang="ru">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>{% block title %}Автосервис SkodaExpert{% endblock %}</title>
    <link rel="stylesheet" href="{{ url_for('static', filename='style.css') }}">
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/flatpickr/dist/flatpickr.min.css">
    <script src="https://cdn.jsdelivr.net/npm/flatpickr"></script>
    <script src="https://npmcdn.com/flatpickr/dist/l10n/ru.js"></script>
    <script src="{{ url_for('static', filename='script.js') }}"></script>
    <script src="{{ url_for('static', filename='csrf.js') }}"></script>
    <meta name="csrf-token" content="{{ csrf_token() }}">
</head>
<body>
    <header>
        <h1>Автосервис SkodaExpert</h1>
        <nav>
            <a href="{{ url_for('main.index') }}">Главная</a>
            {% if 'user_id' in session %}
                <a href="{{ url_for('main.client_dashboard') }}">Личный кабинет</a>
                <a href="{{ url_for('main.logout') }}">Выход</a>
            {% else %}
                <a href="{{ url_for('main.login') }}">Вход</a>
                <a href="{{ url_for('main.register') }}">Регистрация</a>
            {% endif %}
        </nav>
    </header>
    <main class="container">
        {% block content %}{% endblock %}
    </main>
    <footer>
        <p>&copy; 2024 Автосервис SkodaExpert</p>
    </footer>
</body>
</html>